@import "styles";

@keyframes goRightThenHide {
    0%{
        left: -60px;
        opacity: 0;
    }
    10%{
        left: 0;
        opacity: 1;
    }
    90%{
        left: 0;
        opacity: 1;
    }
    100% {
        left: -60px;
        opacity: 0;
    }
}

@keyframes widthExpanding {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes dropDown {
    0% {
        opacity: 0;
        left: -50%;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes rightToLeft {
    0% {
        left: 0;
    }
    30% {
       left: -700%;
    }
    100% {
        left: -700%;
    }
}

@keyframes darker {
    0% {
        background-color: rgba($secondaryColor, 0.8);
    }
    100% {
        background-color: $secondaryColor;
    }
}

.expand-width {
    opacity: 1;
    animation-name: widthExpanding;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.go-right-then-hide-animation {
    position: relative;
    animation-name: goRightThenHide;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.drop-down-animation {
    opacity: 0;
    position: relative;
    animation-name: dropDown;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.point-price-background::after {
    animation: rightToLeft;
    animation-timing-function: ease-out;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.darker-animation {
    animation: darker;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.more-transparent-animation {
    animation: darker;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    animation-timing-function: ease;
}
