.image-viewer {
    overflow-x: hidden;
    z-index: 1051;
    left: 0;
    top: 0;
    position: fixed;
    width: 100% !important;
    height: 100vh;
    background-color: rgba(white, 0.5);
    opacity: 0;
    visibility: hidden;
}

.image-viewer .image-viewer-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 10vw;
    min-height: 10vh;
    max-width: 80vw;
    max-height: 80vh;
}

.image-viewer .image-viewer-image > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 10vw;
    min-height: 10vh;
    max-width: 80vw;
    max-height: 80vh;
    overflow: hidden;
}
