@import "styles";

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border: 1px solid !important;
    border-color: $primaryColor;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $primaryColor;
    outline: 0 none;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $primaryColor!important;
}

.custom-switch .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px $secondaryColor, 0 0 0 0.2rem $primaryColor
}
.custom-switch .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px $secondaryColor, 0 0 0 0.2rem $primaryColor
}
.custom-switch .custom-control-input:active ~ .custom-control-label::before {
    background-color: white;
}

.custom-file-label::after {
    background-color: $primaryColor;
    color: $secondaryColor;
    border: none;
}

.custom-file-label{
    padding-left: 7px;
    background-color: $secondaryColor;
    border: none;
    color: $primaryColor;
    border-bottom: 1px solid $primaryColor;
    border-radius: 0;
}

input[type="time"]::-webkit-calendar-picker-indicator {

}

input {
    background-color: transparent !important;
    color: $primaryColor !important;
    padding-left: 30px !important;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid $primaryColor !important;
}

::placeholder {
    color: $primaryColor !important;
    opacity: 1;
}

.input-icon {
    position: absolute;
    top: 12px;
    left: 22px;
    z-index: 2;
}

// Number input up, down arrows hide
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
