@import "styles";

.sidebar {
    z-index: 1000;
    position: fixed;
    padding: 24px;
    padding-right: 20px;
    left: 0;
    top: 50%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $primaryColor;
    color: $secondaryColor;
    width: 300px;
    overflow: hidden;
    transform: perspective(30px) rotateY(1deg);
    box-shadow: 2px 2px 20px 4px black;
}

.riders-list ul {
    list-style: none;
    padding-left: 24px;
}

.ride-title {
    font-size: 1.5rem;
    font-weight: 800;
}

.riders-section {
    font-size: 1.3rem;
    font-weight: 600;
}

.riders-section ul li {
    font-size: 1rem;
    font-weight: 400;
}

.sidebar-toggle {
    cursor: pointer;
    transform-origin: center;
    right: 2%;
    top: 50%;
    position: absolute;
    content: "\003C";
    color: $secondaryColor;
    font-size: 1.5rem;
    font-weight: 800;
    transition: 0.5s;
    width: 40px;
    transform: translateY(-50%);
}

.sidebar-toggle:hover {
    right: 4%;
    color: black;
    transform-origin: center;
    font-weight: 900;
}
