@media only screen and (max-width: 768px) {
    .jumbotron .display-4 {
        font-size: 1.5rem;
    }

    .jumbotron .lead {
        font-size: .8rem;
    }

    .jumbotron .btn{
        font-size: .8rem;
    }

    .border-right-md {
        border-right: none;
    }

    .car-section {
        border-left: none !important;
    }
}
