$yellowColor: #ffd94b;
$primaryColor: $yellowColor;
$dark: #343a40;
$secondaryColor: $dark;
$mapMarkerCode: "\f041";
$clockCode: "\f017";

.card {
    background-color: transparent;
}

.text-yellow-color {
    color: $yellowColor;
}

.text-primary-color {
    color: $primaryColor;
}

.text-secondary-color {
    color: $secondaryColor;
}

.bg-primary-color {
    background-color: rgba($primaryColor, 0.8);
}

.bg-secondary-color {
    background-color: rgba($secondaryColor, 0.8);
}

.bg-primary-color.navbar, .modal .bg-primary-color {
    background-color: $primaryColor;
}

.modal .bg-secondary-color {
    background-color: $secondaryColor;
}

body {
    overflow-x: hidden;
    width: 100vw !important;
    height: 100vh;
    background: url("/images/design/background/taxi1.jpg") fixed center;
    background-size: cover;
}

.login-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shadow-box {
    box-shadow: 8px 8px 20px 2px black;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: $primaryColor!important;
    color: $secondaryColor!important;
}

.profile-image {
    position: absolute;
    border-radius: 50%;
    border: 2px solid rgba($secondaryColor, 1) !important;
    transition: 0.5s;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.profile-image:hover{
    border-radius: 5px !important;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.04),
    0 2px 6px rgba($primaryColor, 0.08),
    0 16px 24px rgba($primaryColor, 0.1),
    0 24px 32px rgba($secondaryColor, 0.14);
}

.btn.bg-primary-color {
    transition: 0.5s;
}

.btn.bg-primary-color:hover, .btn.btn-light:hover {
    transition: 0.5s;
    background-color: $secondaryColor;
    color: $primaryColor;
    box-shadow: 1px 1px 2px 2px $secondaryColor;
}

.btn.bg-primary-color:hover .fa,
.btn.bg-primary-color:hover .fas {
    color: $primaryColor;
}

.btn.bg-primary-color:active, .btn.btn-light:active {
    transition: 0.5s;
    background-color: $secondaryColor;
    color: $primaryColor;
    box-shadow: 1px 1px 2px 2px $primaryColor;
}

.accordion .card {
    width: 100%;
    border-color: rgba($primaryColor, 0.5);
}

.accordion .card .card-header {
    background-color: $primaryColor;
    color: $secondaryColor;
}

.accordion .card .card-header .btn-link{
    color: $secondaryColor!important;
}

.accordion .card .card-body {
    border: none;
    background-color: $secondaryColor;
    color: $primaryColor;
}

.car-section {
    border-left: 1px solid $primaryColor;
}

.border-right {
    border-color: $secondaryColor!important;
    border-right: 1px solid $secondaryColor!important;
}

.card {
    border: none;
}

.modal, .modal-header {
    border: none;
}

.ongoing-ride-close {
    visibility: inherit;
    position: relative;
    top: 0;
    right: 0;
}

.jumbotron {
    overflow: hidden;
    z-index: 10;
    //max-height: 50vh;
}

.static-width {
    width: 100vw;
    height: 100%;
}

.custom-file-label {
    padding-left: 30px !important;
}

.img-thumbnail {
    width: 250px;
    height: 200px;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.height-100px {
    height: 100px;
}

.border-right-md {
    border-right: 1px solid $secondaryColor;
}

.ongoing-ride {
    visibility: hidden;
    opacity: 0;
}

.point-price-background {
    position: relative;
    overflow: hidden;
}

.point-price-background::after {
    top: 0;
    left: 0;
    position: absolute;
    min-width: 400px;
    min-height: 200px;
    background-image: linear-gradient(45deg, rgba(white, 0.0)30%, rgb(white, 0.6)60%, rgba(white, 0.0)30%);
    color: black;
    content: '';
}

.btn-light:hover {
    border: none!important;
}

.btn-danger:hover {
    background-color: $secondaryColor;
    color: $primaryColor;
    border: none;
}
.nav-link:hover {
    color: white;
}

.client-data {
    margin-left: 44px;
}

.rides-container {
    position: relative;
}

.alert-dismissible {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
